@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.horizontalCard{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 90%;
  height: 70%;
  color: $importantTextColor;
  text-decoration: none;
  background: black;
  border-radius: $spacing-sm;

  @include fadeInCard;
}

.horizontalCard h4{
  flex: 1;
  width: 100%;
  margin: 4vh 0 0 0;
  padding: 0;
}

.horizontalCard p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
  width: 100%;
}

.horizontalCard:hover .horizontalCard:visited{
  color: $importantTextColor;
  text-decoration: none;
}