@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;


@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: $spacing-sm;
    width: 1fr;
    height: 1fr;
    background-color: #1a1a1a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: $spacing-sm;

    @include focusCard();
    @include fadeInCard();
}

.productImage {
    margin: $spacing-sm;
    display: block;
    width: clamp(2rem, 6rem, 8rem);
    height: clamp(2rem, 6rem, 8rem);
    object-fit: cover;
    text-align: center;
    border-radius: $spacing-sm;
}

.productInfo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.productName {
    font-size: $fontSizeMd;
    margin: 0;
}

.productPrice {
    font-family: Inconsolata, monospace;
    color: #ffd700;
    font-size: $fontSizeSm;
    font-weight: bold;
    text-align: center;
    margin: 0 0 $spacing-sm 0;
}

.productPrice:hover {
    transform: scale(1.02);
}