@use "../../../styles/variables" as *;

.input{
  caret-color: transparent;
  width: 100%;
  max-width: 15rem;
  height: $spacing-lg;
  border: 1px solid #FFFFFF;
  border-radius: $spacing-xxs;
  color: #FFFFFF;
  background-color: $fieldBackgroundColor;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
  text-align: center;
  font-family: $primaryFont;
  padding: 0 $spacing-sm;
  box-sizing: border-box;
}

.incorrectInput{
  width: 100%;
  max-width: 15rem;
  height: $spacing-lg;
  border: 1px solid $incorrectColor;
  color: $incorrectColor;
  background-color: $fieldBackgroundColor;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
  text-align: center;
  font-family: $primaryFont;
  padding: 0 $spacing-sm;
  box-sizing: border-box;
}

.input::placeholder{
  color: #FFFFFF;
  opacity: 0.2;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
}