@use "../../../styles/variables" as vars;

.input{
  caret-color: transparent;
  width: 100%;
  max-width: 15rem;
  height: 3rem;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
  color: vars.$fieldTextColor;
  background-color: vars.$fieldBackgroundColor;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
  text-align: center;
  font-family: vars.$primaryFont;
  padding: 0 vars.$spacing-sm;
  box-sizing: border-box;
}

.incorrectInput{
  caret-color: transparent;
  width: 100%;
  max-width: 15rem;
  height: 3rem;
  border: 1px solid vars.$incorrectColor;
  border-radius: 14px;
  color: vars.$incorrectColor;
  background-color: vars.$fieldBackgroundColor;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
  text-align: center;
  font-family: vars.$primaryFont;
  padding: 0 vars.$spacing-sm;
  box-sizing: border-box;
}

.input::placeholder{
  color: #FFFFFF;
  opacity: 0.2;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
}