@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: max-content;
  height: auto;
  background-color: $buttonBackgroundColor;
  border-radius: $spacing-sm;
  margin: 0;

  @include fadeInCard;
  @include focusCard;
}


.info{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  margin: 0 0 0 $spacing-sm;
  cursor: pointer;
  color: $importantTextColor;
  text-decoration: none;
}
.info:hover .info:visited {
  color: $importantTextColor;
  text-decoration: none;
}

.name{
  font-size: $fontSizeMd;
}

.date{
  font-size: $fontSizeSm;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
