@use "../../styles/variables" as vars;

body{
  margin: 0;
  padding: 0;
}

.screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: vars.$baseBackgroundColor;
  color: vars.$importantTextColor;
  font-family: vars.$primaryFont;
  font-size: vars.$baseFontSize;
}