@use "../../../../styles/variables" as *;

.textButton{
  border: none;
  outline: none;
  background: transparent;
  color: $destroyTextButtonColor;
  cursor: pointer;
  font-family: $primaryFont;
  font-size: $fontSizeSm;
}