@use "../../../styles/variables" as vars;

.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: vars.$overlayBackgroundColor;
  height: max-content;
  width: 100%;
}

.navBar *{
  height: 100%;
}

.navBar:first-child{
  border-right: 1px solid vars.$primaryColor;
}

.navBar:last-child{
  border-left: 1px solid vars.$primaryColor;
}

.logo{
  min-width: fit-content;
  width: auto;
  max-width: 30vw;
}

.navOptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: fit-content;
  width: auto;
  max-width: 30vw;
  gap: clamp(3rem, 8rem, 10rem);
}

.textOptions{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: auto;
  max-width: 30vw;
  max-height: max-content;
  height: max-content;
}

.textOptions *{
  padding: 0 vars.$spacing-lg;
}

.textOptions *:not(:last-child){
  border-right: 1px solid vars.$primaryColor;
}

.imageOptions{
  gap: 1rem;
  min-width: fit-content;
  width: auto;
  max-width: 30vw;
}

.imageOptions *{
  padding: vars.$spacing-xxs;
}

