// ====== CORE SETTINGS ====== //
$baseFontSize: 16px;
$baseSpacing: 0.5rem;
// ===== Colors ===== //
$primaryColor: #76386C;
$transparentWhiteColor: rgba(255, 255, 255, 0.05);
$incorrectColor: #ba0400;
$importantTextColor: #FFFFFF;
$nonImportantTextColor: rgba(255, 255, 255, 0.20);
$createTextButtonColor: #13008c;
$updateTextButtonColor: $primaryColor;
$destroyTextButtonColor: #C9302C;
$baseBackgroundColor: #0D0811;
$dropDownMenuBackgroundColor: #1f1229;
$dropDownMenuDividerColor: $primaryColor;
$overlayBackgroundColor: rgba(13, 8, 17, 0.23);
$formBackgroundColor: #1B1222;
$buttonBackgroundColor: #393039;
$fieldBackgroundColor: $baseBackgroundColor;
$fieldBorderColor: #FFFFFF;
$fieldTextColor: $nonImportantTextColor;
$ratingStarColor: #ffd700;

// ====== SPACING ====== //
$spacing-xxs: $baseSpacing * 0.5;
$spacing-sm:  $baseSpacing * 2;
$spacing-lg:  $baseSpacing * 4;

// ===== Typography ===== //
$primaryFont: "Inconsolata", monospace;
$fontSizeSm: 1rem;
$fontSizeMd: 2rem;
$fontSizeLg: 4rem;

// ====== BREAKPOINTS (em-based) ====== //
$breakpoint-xs:  25em;
$breakpoint-sm:  36em;
$breakpoint-md:  48em;
$breakpoint-lg:  62em;
$breakpoint-xl:  75em;
$breakpoint-xxl: 87.5em;