@use "../../../styles/variables" as vars;

.menuButton{
  color: vars.$importantTextColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visitedMenuButton{
  color: vars.$nonImportantTextColor;
  background-color: transparent;
  border: none;
  cursor: default;
}