@use '../../../styles/variables' as vars;

.formContainer{
  font-family: vars.$primaryFont;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: vars.$formBackgroundColor;
  min-height: fit-content;
  max-height: 80vh;
  min-width: min-content;
  max-width: 80vw;
  border-radius: 1rem;
}

.title{
  font-family: vars.$primaryFont;
  font-weight: normal;
  font-style: normal;
  font-size: vars.$fontSizeLg;
  color: vars.$importantTextColor;
  margin: vars.$spacing-sm;
}

.error{
  font-size: vars.$fontSizeSm;
  color: vars.$incorrectColor;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: min-content;
  min-height: max-content;
  height: 100%;
  margin: vars.$spacing-lg;
  gap: vars.$spacing-sm;
}