@import "../../../../styles/variables";

.textButton{
  color: $importantTextColor;
  font-family: $primaryFont;
  font-size: clamp($fontSizeSm, $fontSizeSm, $fontSizeMd);
}

.visitedTextButton{
  color: $nonImportantTextColor;
  font-family: $primaryFont;
  font-size: clamp($fontSizeSm, $fontSizeSm, $fontSizeMd);
}