@use "../../../styles/variables" as vars;

.screen{
  width: 100%;
  height: 100%;
  background: vars.$baseBackgroundColor;
  font: vars.$primaryFont;
  font-size: vars.$fontSizeMd;
  color: vars.$primaryColor;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin: 5vh;
}

.options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: vars.$spacing-sm;
}

.option *:not(:last-child){
  border-right: 1px solid vars.$primaryColor;
}